
            /* Start 7up Website Clone */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    overflow-x: hidden;
}
/* nav bar start */
.main-navbar{
    position: fixed;
    

}
.navbar{
    width: 100vw;
    height: 60px;
    background-color: #009E5F;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo img{
    width: 8rem;
    margin-top: 50px;
}
.logo{
    padding: 10px;
}
.items ul{
    display: flex;
    padding-right: 20px;
    
}
.items ul li{
    list-style-type: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* <!-- navbar end --> */

/* After nav section start */

    /* Left part start */

.after-nav{
    width: 100vw;
    height: 109.4vh;
    /* background-color: aqua; */
    display: flex;
}
.after-nav .left{
    width: 35vw;
    height: 110vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.after-nav .left img{
width: 28rem;
}
.after-nav .left h2{
    color: #009E5F;
    font-weight:bolder;
    font-size: 2rem;
    
}
.after-nav .left button{
    font-size: 1.5rem;
    color: #009E5F;
    font-weight: 700;
    margin-top: 1rem;
    border: 3px solid #009E5F;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}
.after-nav .left button:hover{
    background-color: #009E5F;
    color: white;
   
}

 /* left part end */

 /* right part start */
 .after-nav .right{
    width: 65vw;
    height: 110vh;
    background-color:#009E5F ;
    overflow-x: hidden;
            
}
.video video{
    height: 109.4vh;
    background-repeat: no-repeat;
    
  }
  /* .video img{
    margin-top: -500px;
    margin-bottom: 500px;
    margin-left: 45%;
    
  } */
        /* After nav section end */

        /* new simple part start */
.new-simple{
    background-image: url(../Images/7up-simple-banner.jpg);
    width: 100vw;
    height: 110vh;
    background-size: cover;
    display: flex;
    align-items:center ;
}
.new-simple .text{
    margin-left: 8rem;
    margin-bottom: 8rem;
}
.new-simple .text h2{
    color: white;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 2rem;
}
.new-simple .text p{
    color: white;
    font-size: 2rem;
    
}
.new-simple .text button{
    color: #009E5F;
    background-color: white;
    border: 1px solid white;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 1rem;
    cursor: pointer;

}
.new-simple button:hover{
    background-color:#009E5F;
    border: 1px solid #009E5F;
    color: white;
}
        /* new simple part end */

        /* Cooking-Recipes start -- 1 */

.cooking-recipes-1{
    width: 100vw;
    height: 80vh;
    background-image: url(../Images/pink.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cooking-recipes-1 .btn button{
    color: white;
    background-color:#FE5887;
    font-size: 2rem;
    padding: 1rem 2rem;
    font-weight: 800;
    border: 2px solid #FE5887;
    cursor: pointer;
}
.cooking-recipes-1 .btn button:hover{
    transform: scale(1.1);
}

         /* Cooking-Recipes end - 1 */

          /* Cooking-Recipes start - 2 */

.cooking-recipes-2{
width: 100vw;
height: 80vh;
background-image: url(../Images/hand.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
}
.cooking-recipes-2 .btn button{
color: white;
background-color:#6ba13f;
font-size: 2rem;
padding: 1rem 2rem;
font-weight: 800;
border: 2px solid #6ba13f;
cursor: pointer;
}
.cooking-recipes-2 .btn button:hover{
    transform: scale(1.1);
}
           /* Cooking-Recipes end - 2 */

           /* see-all-recipes-start */

.see-all-recipes{
width: 100vw;
height: 80vh;
background-image: url(../Images/watermalon.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
}
.see-all-recipes .btn button{
color: white;
background-color:#c064ac;
font-size: 2rem;
padding: 1rem 2rem;
font-weight: 800;
border: 2px solid #c064ac;
cursor: pointer;
}
.see-all-recipes .btn button:hover{
    transform: scale(1.1);
}

            /* see-all-recipes-end */

            /* Drink-it-start */
             /* can-images-start */
.drink-it{
width: 100vw;
height: 110vh;
background-color: #c064ac;
overflow-x: hidden;
display: flex;
}
            /* left-part-start */
.drink-it .left-part{
    width: 50vw;
    height: 110vh;
    background-color: white;   
}
.drink-it .lest-part .can-images{
    display: flex;
    justify-content: center;
}
.drink-it .left-part .can-images .images{
    padding-top: 5rem;
    
}
.drink-it .left-part .can-images .images img{
    padding: 2rem;
    width: 16rem;
}
.drink-it .left-part .can-images .images .img-1{
    width: 14rem;
}
.drink-it .left-part .can-images .images .img-3{
    width: 14rem;
}
        /* can-images-end */

        /* shadow images start */
.drink-it .left-part .shadow-images .shadows{
    display: flex; 
 }
 .drink-it .left-part .shadow-images .shadows img{
    width: 20rem;
 }
 .drink-it .left-part .shadow-images .shadows .shadow-1{
    margin-top: -3rem;
    margin-left: -2rem;
    width: 16rem;
    height: 6rem;
 }
 .drink-it .left-part .shadow-images .shadows .shadow-2{
    margin-left: -1.7rem;
 }
 .drink-it .left-part .shadow-images .shadows .shadow-3{
    margin-top: -3rem;
    margin-left: -3rem;
    width: 16rem;
    height: 6rem;
 }
            /* shadow images End */

            /* Arrow image- start */
.drink-it .left-part .arrow{
    margin-left: 14rem;
    margin-top: 2rem;
}
.drink-it .left-part .arrow img{
    width: 17rem;
}

            /* Arrow image- End */
             /* left-part-End */

             /* Right-Part-Start */
.drink-it .right-part{
    width: 50vw;
    height: 110vh;
    background-color: #ECECEC;
}
.drink-it .right-part .full{
    display: flex;
    padding: 7rem 4rem;
}
.drink-it .right-part .full .can{
    padding: 2rem;
    margin-top: -1rem;
}
.drink-it .right-part .full .can img{
    width: 4rem;
}
.drink-it .right-part .full .text h1{
    color: #858585;
    font-size: 4rem;
}
.drink-it .right-part .full .text h1 span{
    color: red;
}
.drink-it .right-part .stars .star-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7rem;
    margin-right: 8rem;
}
.drink-it .right-part .stars .star-images pre{
    font-size: 0.9rem;
    color: #818182;
}
.drink-it .right-part .stars .star-images i{
    color: #ffd102;
    background-color: #ECECEC;
}
.drink-it .right-part .read-review{
    display: flex;
    justify-content: center;
    margin-right: 17rem;
}
.drink-it .right-part .read-review h4{
    color: #818182;
}
.drink-it .right-part .nutrition-facts{
    padding: 2rem 7rem;
}
.drink-it .right-part .nutrition-facts h2{
    color: #818182;
}
.drink-it .right-part .nutrition-facts p{
    color: #818182;
}
.drink-it .right-part .nutrition-facts-btn{
    padding: 1rem 7rem;
}
.drink-it .right-part .nutrition-facts-btn button{
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 800;
    color: #009E5F;
    border: 2px solid #009E5F;
    cursor: pointer;
    
}
.drink-it .right-part .nutrition-facts-btn button:hover{
    background-color: #009E5F;
    color: white;
}
           /* Right-Part-End */
            /* Drink-it-End */

            /* Enjoy 7UP section start */
.enjoy-7up{
    background-image: url(../Images/footer-bg\ \(1\).jpg);
    height: 110vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-1{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;
   
    
}
.text-1 .red-text{
    height: 8rem;
    width: 30rem;
    background-color: red;
    transform: skew(40deg , -10deg);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text-1 .red-text h1{
    color: white;
    font-size: 5rem;
    font-weight: bolder;
}
.enjoy-7up .box{
    height: 8rem;
    width: 1068px;
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 7rem;
    margin-left: 14rem;
}
.enjoy-7up .box .icons{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 1.5rem;
}
.enjoy-7up .box .icons a{
    text-decoration: none;
}
.enjoy-7up .box .icons i{
    font-size: 1.4rem;
    color: #636363;
}
.enjoy-7up .box .policy{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.enjoy-7up .box .policy a{
    text-decoration: none;
    color: #636363;
    font-size: 14px;
    padding-top: 13px;
}
.enjoy-7up .box .last{
    display: flex;
    justify-content: center;
}
.enjoy-7up .box .last p{
    color: #636363;
    font-size: 14px;
    padding-top: 13px;
}

            /* Enjoy 7UP section End */


             /* End 7up Website Clone */

